* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

body {
	padding: 0;
	margin: 0;
}

.gallery {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
  padding:0;
}

#cards {
	position: absolute;
  padding:0;
	
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #70FFBF;
  width:100vw;
  min-height:100vh;
  
}


#cards li {
	list-style: none;
    min-height:100vh;
    max-width:70vw;
    overflow: auto;
	text-align: center;
	line-height: 2.5rem;
	font-size: 2rem;
	top: 0;
    left: 0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}

#cards li h2 {
	line-height: 3rem;

	top: 0;
	left: 0;
  
}

#cards li h4 {
	margin-top:50px;
    text-transform: uppercase;
    font-weight:600;
    font-size:16px;
    line-height:20px;
}

#cards li h5 {
    font-weight:500;
}

#cards li#startingQuestion {
  display:flex;
}


#questionMark {
  font-size: 2.5rem;
  border-radius: 4rem;
  background-color: #3f3f3f;
  color:#fff;
  padding:15px 30px;
  position:fixed;
  right:0;
  top:0;
  margin:20px;
  z-index:4;
  text-align:center;
  cursor: pointer;
}

#questionMark.showModal {
  font-size: 2.5rem;
  border-radius: 0;
  padding:15px 30px;
  position:fixed;
  right:0;
  top:0;
  margin:0;
  text-align: right;
}

#helpModal {
  display:none;
  background-color: #3f3f3f;
  width:100vw;
  min-height:100vh;
  z-index:3;
  color:#fff;
  position:absolute;
  padding:0px 20px 0px;
  margin:0px auto;
  font-size:18px;
  font-weight:400;
  line-height: 1.7rem;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#helpModal .content {
  max-width:70vw;
  margin:0 auto;
  text-align:left;
  padding-top:40px;
}


@media only screen and (max-width: 600px) {
  #helpModal {
    height:auto;
    padding:50px 20px;
    margin:0px auto;
    font-size:18px;
    font-weight:400;
    line-height: 1.7rem;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  #helpModal .content {
    max-width:95vw;
    font-size:22px;
    line-height:28px;
    
  }

  #cards li {
    padding: 120px 0;
    max-width:85vw;
  }

  
}